#body{ 
    min-height: 100vh; 
    
}

#footer{ 
    min-height:0px;
    margin: 0;
}

#body{ 
    display:flex; 
    flex-direction:column; 
}
#div-block-content{ 
    flex:1; 
}



.mt-4 {
    margin-top: 0rem !important;
}

